{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="row grid-style">

            {% if first_row_reciepts %}
            {% for reciept in first_row_reciepts %}
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="food-single.html" title="">

                            <img src="{% static 'blog/upload/blog_square_10.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->

                    <div class="blog-meta big-meta">
                        <div class="rating">
                            {% for star in reciept.raiting %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                        </div>
                        <h4><a href="{% url 'detail' reciept.id %}" title="">{{ reciept.title|title }}</a></h4>
                        <p>{{ reciept.text | truncatewords:12 }}</p>

                        <small><a href="{% url 'detail' reciept.id %}" title="">{{ reciept.modified_date | date:'d M Y' }}</a></small>
                        <small><a href="#" title="">by {{ reciept.author }}</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->

            {% endfor %}

        </div> <!-- end row -->


       <hr class="invis">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="{% static 'blog/upload/banner_06.jpg' %}" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis3">
        {% endif %}

        <div class="row grid-style">
         {% if second_row_reciepts %}
         {% for reciept in second_row_reciepts %}
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="food-single.html" title="">

                            <img src="{% static 'blog/upload/blog_square_10.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->

                    <div class="blog-meta big-meta">
                        <div class="rating">
                            {% for star in reciept.raiting %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                        </div>
                        <h4><a href="{% url 'detail' reciept.id %}" title="">{{ reciept.title | title}}</a></h4>
                        <p>{{ reciept.text | truncatewords:12}}</p>

                        <small><a href="{% url 'detail' reciept.id %}" title="">{{ reciept.modified_date | date:'d M Y' }}</a></small>
                        <small><a href="#" title="">by {{ reciept.author }}</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->

            {% endfor %}

            </div> <!-- end row -->

        <hr class="invis">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="{% static 'blog/upload/banner_06.jpg' %}" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis3">
        {% endif %}

        <div class="row grid-style">
        {% if third_row_reciepts %}
        {% for reciept in third_row_reciepts %}
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="blog-box">
                <div class="post-media">
                    <a href="food-single.html" title="">

                        <img src="{% static 'blog/upload/blog_square_10.jpg' %}" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->

                <div class="blog-meta big-meta">
                    <div class="rating">
                        {% for star in reciept.raiting %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                    </div>
                    <h4><a href="{% url 'detail' reciept.id %}" title="">{{ reciept.title | title }}</a></h4>
                    <p>{{ reciept.text | truncatewords:12 }}</p>

                    <small><a href="{% url 'detail' reciept.id %}" title="">{{ reciept.modified_date | date:'d M Y' }}</a></small>
                    <small><a href="#" title="">by {{ reciept.author }}</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->
        </div><!-- end col -->

        {% endfor %}
        {% endif %}
        </div> <!-- end row -->


        <hr class="invis">

        <div class="row">
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- end col -->
        </div><!-- end row -->
{% endblock %}