{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="page-wrapper">

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form class="form-wrapper" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        {{ register_form }}
                        <input type="submit" class="btn btn-primary" value="Send">
                    </form>
                </div>

            </div>
        </div><!-- end page-wrapper -->
    </div><!-- end col -->
</div><!-- end row -->
{% endblock %}